@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 230px 1fr;
}

header {
    border-right: 1px solid #ddd;
}

.logo {
    font-size: 1.5em;
    margin: 30px 20px;
}

nav ul {
    list-style: none;
}

nav h3 {
    font-size: 15px;
    font-weight: normal;
    margin-left: 20px;
    margin-bottom: 10px;
    color: #888;
}


nav li a {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: none;
    color: #999;
    display: flex;
    align-items: center;
    padding-left: 20px;
    
}

nav li a:hover {
    color: #d22f27;
}

nav li a span {
    margin-left: 10px;
}

.active-menu {
    border-right: 2px solid #d22f27;
    color: #d22f27;
}


main {
    display: grid;
    grid-template-columns: minmax(500px, 1fr) minmax(200px, 350px);
}

main content {
    height: 100vh;
    padding: 30px;
    overflow: auto;
}

main aside {
    border-left: 1px solid #ddd;
}

.search-bar {
    width: 60%;
}

.search-bar .search-input {
    width: 100%;
    padding: 9px 15px;
    border-radius: 50px;
    border: 1px solid #999;
}

.search-bar .search-input:focus {
    outline-color: #d22f27;
}

.jumbotron {
    width: 100%;
    height: 260px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    background: linear-gradient(to right, black, #111);
    z-index: 1;
}

.jumbotron .hero {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 30%;
    right: 0;
    opacity: 0.7;
}

.jumbotron .title {
    width: 55%;
    font-size: 25px;
    margin-top: 70px;
    margin-left: 30px;
    margin-bottom: 10px;
    color: white;
    display: flex;
    flex-direction: column;
}

.jumbotron .title span {
    font-size: 15px;
    margin-bottom: 5px;
    color: #d22f27;
}

.jumbotron .genre {
    width: 55%;
    font-size: 13px;
    font-weight: medium;
    margin-left: 30px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: #ddd;
}

.jumbotron button {
    font-weight: bold;
    margin-top: 20px;
    margin-left: 30px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #d22f27;
    color: white;
    cursor: pointer;
}

.jumbotron button:hover {
    opacity: 0.8;
}

.jumbotron button:active {
    opacity: 1;
}

.main-movie .new-release {
    margin-top: 50px;
}

.main-movie .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.main-movie .heading h3, 
.main-movie .heading span {
    font-size: 15px;
}

.main-movie .heading span {
    font-weight: bold;
}

.main-movie .heading span:hover {
    cursor: pointer;
}

.coming-soon h3 {
    font-size: 15px;
    margin-bottom: 10px;
}

.cards {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, minmax(50px, 125px));
    justify-content: space-between;
    column-gap: 10px;
    row-gap: 20px;
}

.main-card {
    height: 180px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.main-card:hover {
    opacity: 0.5;
    cursor: pointer;
}

.main-card:active {
    opacity: 1;
}

.main-card img {
    width: 100%;
    height: 100%;
}

.main-card-info {
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.4));
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: end;
}

.main-card .title {
    font-size: 14px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.main-card .year {
    font-size: 10px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    color: #eee;
}

.active-card {
    /* background-color: #888; */
    /* border: 1px solid #d22f27; */
    box-shadow: 0px 0px 0px 2px #d22f27;
}


.container-fluid {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    padding: 20px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-card {
    width: 45%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 80px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    transform: scale(0.8);
    opacity: 0;
    animation: animationShow 0.2s forwards;
}


.animation-hide {
    animation: animationHide 0.2s forwards;
}

.detail-card h3 {
    text-align: center;
    margin-bottom: 20px;
}

.detail-card-body {
    display: flex;
    border: 1px solid #ddd;
}

.detail-card-image {
    padding: 20px;
    border-right: 1px solid #ddd;
}

.detail-card-image img {
    width: 200px;
    height: 300px;
}

.detail-card-info {
    list-style: none;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
}

.close-button {
    background-color: #d22f27;
    padding: 10px 25px;
    border: none;
    margin-top: 10px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    bottom: 30px;
}

.close-x {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #d22f27;
    border: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-weight: bold;
    color: #d22f27;
    line-height: 18px;
    text-align: center;
}

.close-x:hover {
    color: #111;
}

.close:hover {
    background-color: #b61810;
    cursor: pointer;
}

.close:active {
    background-color: #d22f27;
}

.detail-card-info li {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

aside {
    padding-left: 20px;
    padding-top: 40px;
    height: 100vh;
    overflow: scroll;
}

aside h2 {
    font-size: 18px;

}

aside h3 {
    font-size: 15px;
}

.most-popular h3 {
    margin-top: 20px;
    margin-bottom: 5px;
}

.top-rate h3 {
    margin-top: 50px;
    margin-bottom: 5px;
}

.cards-popular, .cards-top-rate {
    display: grid;
    grid-template-columns: 90%;
    grid-auto-flow: row;
    row-gap: 10px;
}

.sidebar-card {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 125px;
    gap: 15px;
    position: relative;
    padding: 10px;
    border-radius: 10px;
    margin-left: -10px;
}

.sidebar-card:hover {
    cursor: pointer;
    background-color: #eee;
}

.sidebar-card:active {
    background-color: white;
}

.sidebar-card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.sidebar-card-info .title {
    font-size: 14px;
    margin-bottom: 5px;
}

.sidebar-card-info .genre {
    width: 80%;
    font-size: 13px;
    color: #d22f27;
}

.sidebar-card-info .rating {
    position: absolute;
    bottom: 20px;
    font-weight: bold;
    font-size: 13px;
}

.rating {
    display: flex;
}

.rating .rating-value {
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: #d22f27;
}

.rating-value span {
    margin-left: 3px;
    color: black;
}

aside button {
    background-color: #d22f27;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    width: 80%;
    margin-top: 20px;
    text-transform: capitalize;
}
aside button:hover {
    background-color: #ad1109;
    cursor: pointer;
}

aside button:active {
    background-color: #d22f27;
}

@keyframes animationShow {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes animationHide {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.8);
        opacity: 0;
    }
}


/* scroll */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    opacity: 0;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}