@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 230px 1fr;
}

header {
    border-right: 1px solid #ddd;
}

.logo {
    font-size: 1.5em;
    margin: 30px 20px;
}

nav ul {
    list-style: none;
}

nav h3 {
    font-size: 15px;
    font-weight: normal;
    margin-left: 20px;
    margin-bottom: 10px;
    color: #888;
}


nav li a {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: none;
    color: #999;
    display: flex;
    align-items: center;
    padding-left: 20px;
    
}

nav li a:hover {
    color: #d22f27;
}

nav li a span {
    margin-left: 10px;
}

.active-menu {
    border-right: 2px solid #d22f27;
    color: #d22f27;
}


main {
    display: grid;
    grid-template-columns: minmax(500px, 1fr) minmax(200px, 350px);
}

main content {
    height: 100vh;
    padding: 30px;
    overflow: auto;
}

main aside {
    border-left: 1px solid #ddd;
}

.search-bar {
    width: 60%;
}

.search-bar .search-input {
    width: 100%;
    padding: 9px 15px;
    border-radius: 50px;
    border: 1px solid #999;
}

.search-bar .search-input:focus {
    outline-color: #d22f27;
}

.jumbotron {
    width: 100%;
    height: 260px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    background: linear-gradient(to right, black, #111);
    z-index: 1;
}

.jumbotron .hero {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 30%;
    right: 0;
    opacity: 0.7;
}

.jumbotron .title {
    width: 55%;
    font-size: 25px;
    margin-top: 70px;
    margin-left: 30px;
    margin-bottom: 10px;
    color: white;
    display: flex;
    flex-direction: column;
}

.jumbotron .title span {
    font-size: 15px;
    margin-bottom: 5px;
    color: #d22f27;
}

.jumbotron .genre {
    width: 55%;
    font-size: 13px;
    font-weight: medium;
    margin-left: 30px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: #ddd;
}

.jumbotron button {
    font-weight: bold;
    margin-top: 20px;
    margin-left: 30px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #d22f27;
    color: white;
    cursor: pointer;
}

.jumbotron button:hover {
    opacity: 0.8;
}

.jumbotron button:active {
    opacity: 1;
}

.main-movie .new-release {
    margin-top: 50px;
}

.main-movie .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.main-movie .heading h3, 
.main-movie .heading span {
    font-size: 14px;
}

.main-movie .heading span {
    font-weight: bold;
}

.main-movie .heading span:hover {
    cursor: pointer;
}

.cards {
    display: grid;
    grid-template-columns: repeat(5, minmax(50px, 125px));
    justify-content: space-between;
    column-gap: 10px;
    row-gap: 20px;
}

.card {
    height: 180px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.card:hover {
    opacity: 0.8;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 100%;
    background-position: cover;
    object-fit: cover;
}

.card .info {
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.4));
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: end;
}

.card .title {
    font-size: 14px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.card .year {
    font-size: 10px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    color: #eee;
}


/* scroll */
/* width */
/* ::-webkit-scrollbar {
    width: 10px;
  } */
  
  /* Track */
  /* ::-webkit-scrollbar-track {
    background: #fff;
  } */
  
  /* Handle */
  /* ::-webkit-scrollbar-thumb {
    opacity: 0;
  } */
  
  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
    background: #555;
  } */

